In [1]:
import datetime as dt
import yfinance as yf

company = 'TATAELXSI.NS'

# Define a start date and End Date
start = dt.datetime(2020,1,1)
end =  dt.datetime(2022,1,1)

# Read Stock Price Data 
data = yf.download(company, start , end)

data.tail(10)

C:\Users\I544741\python-aplicado\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-20,5710.000000,5715.000000,5340.000000,5433.799805,5364.211426,254500
2021-12-21,5530.149902,5560.000000,5425.000000,5434.500000,5364.902832,194508
2021-12-22,5540.000000,5550.000000,5454.000000,5476.649902,5406.512695,112229
2021-12-23,5535.000000,5535.000000,5461.250000,5491.000000,5420.679199,96829
2021-12-24,5499.200195,5594.899902,5481.000000,5501.000000,5430.551270,112435
2021-12-27,5516.000000,5520.000000,5421.000000,5444.100098,5374.379883,85984
2021-12-28,5500.000000,5550.000000,5460.049805,5529.100098,5458.291016,126814
2021-12-29,5554.799805,5725.000000,5519.950195,5707.100098,5634.011719,199190
2021-12-30,5748.000000,5850.000000,5726.000000,5814.149902,5739.690430,160005
2021-12-31,5875.000000,5895.000000,5801.000000,5868.000000,5792.851074,96466